/data/Trojanerkrieg/categorization_Trojanerkrieg_alt.json
/data/Eneasroman/collocations_Eneasroman.json
/data/Iwein/collocations_Iwein.json
/data/Rolandslied/collocations_Rolandslied.json
/.idea/workspace-DESKTOP-5LEUJLF-2.xml
/data/Eneasroman/config_Eneasroman.json
/data/Trojanerkrieg/collocations_Trojanerkrieg.json
/data/Iwein/config_Iwein.json
/data/Rolandslied/config_Rolandslied.json
/data/Trojanerkrieg/config_Trojanerkrieg.json
/.idea/misc.xml
/data/Eneasroman/missing_naming_variants_Eneasroman.json
/data/Iwein/missing_naming_variants_Iwein.json
/data/Rolandslied/missing_naming_variants_Rolandslied.json
/data/Trojanerkrieg/missing_naming_variants_Trojanerkrieg.json
/data/Eneasroman/progress_Eneasroman.json
/data/Iwein/progress_Iwein.json
/data/Rolandslied/progress_Rolandslied.json
/data/Trojanerkrieg/progress_Trojanerkrieg.json
/python
/data/Eneasroman/TEST_Eneasroman_collocations.xlsx
/TR.tei.xml
